<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>글쓰기</title>


</head>

<body>
    <h3>게시글 등록</h3>

    <form action="/board/insert" method="post" enctype="multipart/form-data">

        <!-- 카테고리 -->
        <label for="category">카테고리</label>
        <select id="category" name="category" required>
            <option value="">-- 선택하세요 --</option>
            <option value="공지사항">공지사항</option>
            <option value="이벤트">이벤트</option>
            <option value="Q&A">Q&A</option>
            <option value="고객문의">고객문의</option>
        </select>

        <br><br>

        <!-- 제목 -->
        <label for="title">제목</label><br>
        <input type="text" id="title" name="title">
        <br><br>

        <!-- 작성자 -->
        <label for="writer">작성자</label><br>
        <input type="text" id="writer" name="writer">
        <br><br>

        <!-- 내용 -->
        <label for="content">내용</label><br>
        <textarea id="content" name="content" rows="5" cols="40"></textarea>

        <br><br>

        <label for="file">파일</label>
        <input type="file" name="fileList" multiple>

        <button type="submit">등록하기</button>
    </form>

</body>

</html>