<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시글상세</title>
</head>

<body>
    <form action="/board/delete" method="post">
        <h3>상세화면</h3>
        <label for="title">제목</label>
        <input type="text" name="title" th:value="${board.title}" readonly>
        <br>
        <label for="title">작성자</label>
        <input type="text" name="writer" th:value="${board.writer}" readonly>
        <br>
        <label for="title">내용</label>
        <textarea name="content" th:text="${board.content}"></textarea>

        <button type="button" onclick="moveUpdate()">수정</button>
        <button type="button" onclick="moveList()">목록</button>

        <h3>파일목록</h3>
        <section id="file-list">
            <table border="1">
                <thead>
                    <tr>
                        <th>no</th>
                        <th>이미지</th>
                        <th>파일명</th>
                        <th>용량</th>
                        <th>타입</th>
                        <th>액션</th>
                    </tr>
                </thead>
                <th:block th:if="${fileList.isEmpty()}">
                    <tr>
                        <td colspan="6" align="center">조회된 데이터가 없습니다.</td>
                    </tr>
                </th:block>
                <th:block th:each="file : ${fileList}">
                    <tr>
                        <td th:text="${file.no}"></td>
                        <td>
                            <img th:src="|/img?id=${file.id}|" height="100" alt="파일 이미지">
                        </td>
                        <td th:text="${file.fileName}"></td>
                        <td th:text="${file.fileSize}"></td>
                        <td th:text="${file.type}"></td>
                        <td>
                            <button type="button" th:onclick="download( [[${file.id}]] )">다운로드</button>
                            <!-- <button type="button" th:onclick="remove( this, [[${file.id}]])">삭제</button> -->
                        </td>
                    </tr>
                </th:block>
            </table>
        </section>


    </form>
            <h3>댓글목록</h3>
        <section id="comment-list">

        </section>
        <section id="comment-form">
            <form action="">
                <table>
                    <tr>
                        <td>작성자</td>
                        <td align="right">
                            <input type="text" name="writer" id="writer">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <textarea name="content" id="content" rows="5" cols="40"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" align="right">
                            <button type="button" onclick="insertComment()">등록</button>
                        </td>
                    </tr>
                </table>
            </form>
        </section>

    <script>

        

        // 수정화면 이동
        function moveUpdate() {
            let id = "[[${board.id}]]"
            location.href = '/board/update?id=' + id
        }

        function moveList() {
            location.href = '/board/list'
        }

        // 다운로드
        function download(id) {
            location.href = `/file/${id}`
        }

        // 댓글 등록
        function insertComment() {
            const boardNo = '[[${board.no}]]'
            let writer = document.getElementById('writer').value
            let content = document.getElementById('content').value
            console.log(`writer : ${writer}`);
            console.log(`content : ${content}`);

            let data = {

                'boardNo' : boardNo,
                'writer' : writer,
                'content' : content
            }

            let request = new XMLHttpRequest()
            let url = '/comment'
            request.open( 'POST', url, true )
            request.setRequestHeader('Content-Type', 'application/json')
            request.send( JSON.stringify(data) )

            request.onreadystatechange = function() {
                if ( request.readyState == request.DONE && request.status == 200 ) {
                    let response = request.responseText
                    if ( response == 'SUCCESS' ) {
                        console.log('댓글 등록 성공')
                        // 댓글 목롣 갱신
                        commentList()

                        // 입력한 작성자 및 내용 비우기
                        document.getElementById('writer').value = ""
                        document.getElementById('content').value = ""
                    }
                }
            }
        }

        // 댓글 목록
        commentList()
        function commentList() {
            let request = new XMLHttpRequest()
            let boardNo = "[[${board.no}]]"
            let url = `/comment?boardNo=${boardNo}`
            request.open('GET', url, true)
            request.send()

            request.onreadystatechange = function() {
                let commentList = request.responseText
                let $commentList = document.getElementById('comment-list')
                $commentList.innerHTML = commentList
            }
        }

    </script>
</body>

</html>