<th:block th:fragment="footer">
    <!-- 푸터 -->
    <footer class="footer">
        <div class="container footer-grid">
            <div>
                <h4>고객센터</h4>
                <p>1234-5678</p>
                <p>(평일 10:00 - 18:00)</p>
            </div>

            <div>
                <h4>정보</h4>
                <p>이용약관</p>
                <p>개인정보처리방침</p>
            </div>

            <div>
                <h4>회사 소개</h4>
                <p>ABOUT US</p>
                <p>BRAND STORY</p>
            </div>
        </div>

        <p class="copy">© 2025 Shopping Mall. All rights reserved.</p>
    </footer>
</th:block>