<th:block th:fragment="custom-header">
    <!-- 헤더 -->
    <header class="header">
        <div class="container nav-area">
            <div class="logo"><a href="/">SHOPLOGO</a></div>

            <nav class="nav">
                <ul>
                    <li><a href="#">상품</a></li>
                    <li><a href="/board/list">게시판</a></li>
                </ul>
            </nav>
            <th:block sec:authorize="isAnonymous()">
                <div class="nav-icons">
                    <a href="/main/login">로그인</a>
                    <a href="/main/cart">장바구니</a>
                </div>
            </th:block>
            <th:block sec:authorize="isAuthenticated()">
                <form action="/main/logout" method="post">
                    <!-- CSRF TOKEN -->
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                    <div class="nav-icons">
                        <button type="submit">로그아웃</button>
                        <a href="/main/cart">장바구니</a>
                    </div>
                </form>
            </th:block>
        </div>
    </header>
    <script src="/js/header.js"></script>
</th:block>